{% extends 'base.html' %}
{% block title %} index2 {% endblock%}
{% block content %}

<form method="POST">
    {% csrf_token %}
    <div class="mb-3 mt-5">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input name="title" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Название">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
        <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Send</button>
    <button type="submit" class="btn btn-danger"><a href="http://127.0.0.1:8000/"><i style="color: #fff;" class="fa-sharp fa-solid fa-arrow-left"></i></a></button>
</form>

{% endblock%}