{% extends 'base.html' %}
{% block title %} main {% endblock%}
{% block content %}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Date</th>
            <th scope="col">Reestablish</th>
        </tr>
    </thead>
    <tbody>
        {% for i in elected_todo %}
        <tr>
            <th>{{i.id}}</th>
            <td>{{i.elected_title}}</td>
            <td>{{i.elected_description}}</td>
            <td>{{i.elected_sent_at}}</td>
            <td><a href="elected_reestablish/{{i.id}}"><i class="fa-solid fa-trash-arrow-up"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock%}